<!--login-->
<div class="contenedor-login">
    <form class="formulario">
        <div class="titulo-iniciar-sesion mb-4">Iniciar sesión</div>
        <input class="form-control mb-2" type="text" placeholder="Correo electrónico">
        <input class="form-control mb-3" type="text" placeholder="Contraseña">
        <div class="forgot">
            <a href="" style="color: #FC5C7D;">¿Olvidó su constraseña?</a>
        </div><br>
        <button id="btn-entrar" class="form-control mb-3">Entrar</button>
    </form>
</div>