<!-- sección del registro -->
<div class="contenedor-login">
    <form class="formulario">
        <div class="titulo-iniciar-sesion mb-4">Regístrese en DyCODE</div>
        <div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input class="form-control mb-2" type="text" placeholder="Nombre">
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input class="form-control mb-2" type="text" placeholder="Apellido">
              </div>
            </div>
          </div>
        <input class="form-control mb-2" type="text" placeholder="Correo electrónico">
        <input class="form-control mb-3" type="password" placeholder="Contraseña">
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
            <label class="form-check-label" for="exampleCheck1" style="color: #FC5C7D;">Acepto todos los términos y condiciones</label>
          </div>
        <button id="btn-entrar" class="form-control mb-3">Registrarme</button>
    </form>
</div>