<div>
    <form class="formulario shadow p-3 mb-5 bg-white rounded">
        <div class="titulo-iniciar-sesion mb-4">Datos de mi perfil</div>
        <div style="text-align: center;" class="mt-3 mb-3"><img src="../../../assets/proyectos/images/users/2.jpg" class="img-fluid dimension" alt=""></div>
        
        <div>
            <div class="row">
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input class="form-control mb-2" type="text" placeholder="Nombre" value="Enzo">
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input class="form-control mb-2" type="text" placeholder="Apellido" value="Ferrari">
              </div>
            </div>
          </div>
        <input class="form-control mb-2" type="text" placeholder="Correo electrónico" value="enzo@gmail.com">
        <input class="form-control mb-3" type="password" placeholder="Contraseña" value="12345">
        <select name="" id="" class="form-control">
            <option value="1">Plan DyCODE FREE</option>
        </select>
        <div style="text-align: right;"><button id="btn-entrar" class="mb-3">Guardar</button></div>
    </form>
</div>