<div class="todos">
    <div class="titulo">
        Todos mis proyectos
    </div>
    <div class="nuevo-proyecto">
        <button class="btn-nuevo"  data-toggle="modal" data-target="#nuevo-proyecto">Nuevo proyecto</button>
    </div>
    <div class="input-group mb-4 mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar proyecto" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones far fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href="" data-toggle="modal" data-target="#advertencia-papelera" routerLink="/proyectos/edicion"><i class="icono-acciones far fa-trash-alt"></i></a></div>
                    <div class="cont-acciones"><a href="" routerLink="/proyectos/edicion"><i class="icono-acciones fas fa-pencil-alt"></i></a></div>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Mi primer proyecto
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <a href=""class="cont-acciones"><i class="icono-acciones fas fa-heart"></i></a>
                    <a href=""class="cont-acciones" data-toggle="modal" data-target="#advertencia-papelera"><i class="icono-acciones far fa-trash-alt"></i></a>
                    <a href=""class="cont-acciones" routerLink="/proyectos/edicion"><i class="icono-acciones fas fa-pencil-alt"></i></a>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Login empresa Sports
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones far fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href="" data-toggle="modal" data-target="#advertencia-papelera"><i class="icono-acciones far fa-trash-alt"></i></a></div>
                    <div class="cont-acciones"><a href="" routerLink="/proyectos/edicion"><i class="icono-acciones fas fa-pencil-alt"></i></a></div>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Landin page
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href="" data-toggle="modal" data-target="#advertencia-papelera"><i class="icono-acciones far fa-trash-alt"></i></a></div>
                    <div class="cont-acciones"><a href="" routerLink="/proyectos/edicion"><i class="icono-acciones fas fa-pencil-alt"></i></a></div>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Landin page
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones far fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href="" data-toggle="modal" data-target="#advertencia-papelera"><i class="icono-acciones far fa-trash-alt"></i></a></div>
                    <div class="cont-acciones"><a href="" routerLink="/proyectos/edicion"><i class="icono-acciones fas fa-pencil-alt"></i></a></div>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Landin page
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href="" data-toggle="modal" data-target="#advertencia-papelera"><i class="icono-acciones far fa-trash-alt"></i></a></div>
                    <div class="cont-acciones"><a href="" routerLink="/proyectos/edicion"><i class="icono-acciones fas fa-pencil-alt"></i></a></div>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Landin page
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href="" data-toggle="modal" data-target="#advertencia-papelera"><i class="icono-acciones far fa-trash-alt"></i></a></div>
                    <div class="cont-acciones"><a href="" routerLink="/proyectos/edicion"><i class="icono-acciones fas fa-pencil-alt"></i></a></div>   
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Proyecto de clase
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- Ventana modal para la creación de un nuevo proyecto -->

<div class="modal fade" id="nuevo-proyecto" tabindex="-1" aria-labelledby="nuevo-proyectoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div class="logo">
                <img src="../../../assets/img/dycode-light.png" alt="">
            </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
           <h5 class="titulo-nuevo mb-4">Nuevo proyecto</h5>
          <div class="alert alert-warning">Mejora tu plan y crea la cantidad de proyectos que desees</div>
          <form>
              <input class="form-control mb-3" type="text" placeholder="Nombre del proyecto">
              <textarea class="form-control mb-3" placeholder="Breve descripción"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-cerrar" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn-guardar">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Ventana modal enviar un proyecto a la papelera de reciclaje -->
  <div class="modal fade" id="advertencia-papelera" tabindex="-1" aria-labelledby="advertencia-papeleraLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <div class="logo">
                <img src="../../../assets/img/dycode-light.png" alt="">
            </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
           <h5 class="titulo-nuevo mb-4">Enviar proyecto a la papelera</h5>
           <div class="advertencia">
               ¿Estás seguro de enviar el proyecto a la papelera de reciclaje?
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-cerrar" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn-guardar">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
