.icono-responsive{
    color: gray !important;
}
.usuario-dycode{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 100 !important;
    margin-left: 4px;
}
.usuario-dycode:hover{
    color: #243139;
}
#edit-perfil{
    color:white;
    font-weight: 100 !important;
}
#edit-perfil:hover{
    color: #212941
}

#cerrar-perfil{
    color:white;
    font-weight: 100 !important;
}
#cerrar-perfil:hover{
    color: #212941
}
#proyecto-destacado{
    color:white;
    font-weight: 100 !important;
}
#proyecto-destacado:hover{
    color: #212941
}
#proyecto-reciente{
    color:white;
    font-weight: 100 !important;
}
#proyecto-reciente:hover{
    color: #212941
}
#proyecto-papelera{
    color:white;
    font-weight: 100 !important;
}
#proyecto-papelera:hover{
    color: #212941
}
#proyecto-todos{
    color:white;
    font-weight: 100 !important;
}
#proyecto-todos:hover{
    color: #212941
}
.icono-cuenta{
    margin-right:5px;
    color: #463967;
  }
.enlace-cuenta{
  font-size: 14px;
  color: #243139 !important;
  font-family: 'Montserrat', sans-serif !important;
}
.enlace-cuenta:hover{
  color: #706995;
}
.nombre-usuario{
  font-family: 'Montserrat', sans-serif !important;
  color: #243139;
}
.btn-ver-perfil{
  background: linear-gradient(to right, #463967, #0ae3c8);
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 12px !important;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Montserrat', sans-serif !important;
  width: 100%;
}
.btn-ver-perfil:hover{
  background: linear-gradient(to right, #392f52, #0acab4);
}
.icono-sidebar{
    color: white !important;
}
.icono-proyecto{
    margin-right: 5px;
    font-size: 16px
}
