<div class="todos">
    <div class="titulo mb-2">
        Proyectos destacados
    </div>
    <div class="input-group mb-4 mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar proyecto" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-pencil-alt"></i></a></div>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Mi primer proyecto
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-pencil-alt"></i></a></div>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Landin page
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-pencil-alt"></i></a></div>
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Landin page
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2 contenido-proyecto">
            <div class="verdadero">
                <div class="acciones">
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-heart"></i></a></div>
                    <div class="cont-acciones"><a href=""><i class="icono-acciones fas fa-pencil-alt"></i></a></div>   
                </div>
                <div class="carpeta mt-3">
                    <div class="folder">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <div class="nombre-folder mt-2">
                        Proyecto de clase
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>


