<div class="titulo">
       Edición
   </div>
<div class="contenedor-titulo mt-3 mb-3">
       <input type="text" class="form-control" value="Mi primer proyecto">
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
       <div class="alert alert-info" role="alert">
              HTML
            </div>
         <ace-editor  #editor style="height:200px"></ace-editor>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
       <div class="alert alert-info" role="alert">
              CSS
            </div>
         <ace-editor  #editor2 style="height:200px"></ace-editor>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
       <div class="alert alert-info" role="alert">
             JS
            </div>
         <ace-editor  #editor3 style="height:200px"></ace-editor>
    </div>
  </div>
</div>
<div class="nuevo-proyecto mb-3">
       <button class="btn-nuevo"  data-toggle="modal" data-target="#nuevo-proyecto">Guardar cambios</button>
   </div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
       <div class="alert alert-success" role="alert">
              Renderización de los archivos
            </div>
       <div style="width: 100%; height: 200px; background-color:#D1ECF1"></div>
    </div>
  </div>
</div>



