<aside class="left-sidebar" style="background: linear-gradient(to right, #5b4e7e, #24d1bd);">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav" style="background: linear-gradient(to right, #5b4e7e, #24d1bd);">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../../../assets/proyectos/images/users/2.jpg" alt="Usuario" /><span class="hide-menu usuario-dycode">Enzo Ferrari</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a id="edit-perfil" href="javascript:void()" routerLink="/proyectos/usuarios-edicion"><i class="ti-settings icono-proyecto"></i>Editar mi perfil</a></li>
                        <li><a id="cerrar-perfil" href="javascript:void()"><i class="fa fa-power-off icono-proyecto"></i>Cerrar sesión</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-folder-open icono-sidebar"></i><span class="hide-menu usuario-dycode">Mis proyectos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a id="proyecto-todos" href="" routerLink="/proyectos/todos"><i class="far fa-folder-open icono-proyecto"></i>Proyecto 1</a></li>
                        <li><a id="proyecto-todos" href="" routerLink="/proyectos/todos"><i class="far fa-folder-open icono-proyecto"></i>Proyecto 1</a></li>
                        <li><a id="proyecto-papelera" href="" routerLink="/proyectos/papelera"><i class="far fa-trash-alt icono-proyecto"></i>Papelera</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-laptop-code icono-sidebar"></i><span class="hide-menu usuario-dycode">Mis Snippets</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a id="proyecto-reciente" href="" routerLink="/proyectos/snippets"><i class="fas fa-laptop-code icono-proyecto"></i>Todos</a></li>
                        
                    </ul>
                </li>
            </ul>
        </nav>
        
    </div>    

</aside>
