<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" style="background: linear-gradient(to right, #ed2b1b, #f74b69 );">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" style="background: linear-gradient(to right, #ed2b1b, #f74b69 );">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="Usuario" /><span class="hide-menu usuario-dycode">Diana Sánchez</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a id="edit-perfil" href="javascript:void()" >Editar perfil</a></li>
                        <li><a id="cerrar-perfil" href="javascript:void()" >Cerrar sesión</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="far fa-folder-open"></i><span class="hide-menu usuario-dycode">Mis proyectos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a id="proyecto-reciente" href="">Recientes</a></li>
                        <li><a id="proyecto-destacado" href="">Destacados</a></li>
                        <li><a id="proyecto-papelera" href="">Papelera</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->