<aside class="left-sidebar" style="background: linear-gradient(to right, #5b4e7e, #24d1bd);">
    
    <div class="scroll-sidebar">
       
        <nav class="sidebar-nav" style="background: linear-gradient(to right, #5b4e7e, #24d1bd);">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../../../assets/proyectos/images/users/2.jpg" alt="Usuario" /><span class="hide-menu usuario-dycode">Erick Vladimir</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a id="edit-perfil" href="javascript:void()"><i class="ti-settings icono-proyecto"></i>Editar mi perfil</a></li>
                        <li><a id="cerrar-perfil" href="javascript:void()"><i class="fa fa-power-off icono-proyecto"></i>Cerrar sesión</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-folder-open icono-sidebar"></i><span class="hide-menu usuario-dycode">Mis proyectos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a id="proyecto-todos" href=""><i class="far fa-folder-open icono-proyecto"></i>Todos</a></li>
                        <li><a id="proyecto-reciente" href=""><i class="far fa-clock icono-proyecto"></i>Recientes</a></li>
                        <li><a id="proyecto-destacado" href=""><i class="far fa-heart icono-proyecto"></i>Destacados</a></li>
                        <li><a id="proyecto-papelera" href=""><i class="far fa-trash-alt icono-proyecto"></i>Papelera</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-shopping-cart icono-sidebar"></i><span class="hide-menu usuario-dycode">Adquiere un plan</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a id="proyecto-reciente" href=""><i class="far fa-eye icono-proyecto"></i>Ver todos los planes</a></li>
                        <li><a id="proyecto-reciente" href=""><i class="fas fa-check icono-proyecto"></i>Plan DyFree</a></li>
                        <li><a id="proyecto-reciente" href=""><i class="fas fa-check icono-proyecto"></i>Plan DyPREMIUM</a></li>
                        <li><a id="proyecto-reciente" href=""><i class="fas fa-check icono-proyecto"></i>Plan DyGOLDEN</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
    </div>    

</aside>
