<!--Inicio de la página promocional-->
<div class="contenedor-pagina-promocional">
    <header>
      <nav>
        <div class="opciones">
          <div class="option-navbar"><button class="btn-navbar" type="button">Inicio</button></div>
          <div class="option-navbar"><button class="btn-navbar" type="button">Nosotros</button></div>
          <div class="option-navbar"><button class="btn-navbar" type="button" routerLink="/acceso/login">Iniciar sesión</button></div>
          <div class="option-navbar"><button class="btn-navbar" type="button" routerLink="/acceso/registro">Registrarme</button></div>
        </div>
      </nav>
      <div class="contenedor-dycode">
        <div class="dycode">
          DyCODE <br>
        </div>
        <div class="frase">
          La mejor plataforma para la creación de tus proyectos web.
        </div>
        <button class="leer">Leer más</button>
      </div>
    </header>
    <div class="etiqueta">
      DyCODE te ofrece distintas funcionalidades
    </div>
    <div class="container contenedor-ventajas">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ventajas">
          <div class="titulo-ventaja">Administrar tu perfil</div>
          <img src="../assets/img/usuarios.png" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ventajas">
          <div class="titulo-ventaja">Contruir tus proyectos desde cualquier lenguaje de programación</div>
          <img src="../assets/img/construcción.png" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ventajas">
          <div class="titulo-ventaja">Descargar cada uno de tus proyectos a tu ordenador</div>
          <img src="../assets/img/descargar.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    <div class="etiqueta">
      Adquiere el plan que se ajuste a tus necesidades
    </div>
    <div class="planes">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="margin-bottom: 3%;">
            <div class="plan" style="background-color: #FC5C7D;">
              <div class="titulo-plan">
                 DyCODE Gratis
              </div>
              <div class="carpeta">
                <i class="fas fa-folder-open"></i>
              </div>
              <div class="informacion">
                <button type="button" class="btn-informacion">Más información</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="margin-bottom: 3%;">
            <div class="plan" style="background-color: #731c58;">
              <div class="titulo-plan">
                DyCODE Premium
              </div>
              <div class="carpeta">
                <i class="fas fa-folder-open"></i>
              </div>
              <div class="informacion">
                <button type="button" class="btn-informacion">Más información</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="margin-bottom: 3%;">
            <div class="plan" style="background-color: #706995;">
              <div class="titulo-plan">
                DyCODE Premium ++
              </div>
              <div class="carpeta">
                <i class="fas fa-folder-open"></i>
              </div>
              <div class="informacion">
                <button type="button" class="btn-informacion">Más información</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container detalle-footer">
        <div class="proyectos" style="padding-bottom: 2%;">
          Sobre tus proyectos
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="detalle">
              Herramientas para la estructura y diseño
            </div>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>CSS3</li>
            </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="detalle">
              Lenguajes de programación soportados
            </div>
            <ul>
              <li>JavaScript</li>
              <li>PHP</li>
              <li>Java</li>
              <li>C++</li>
              <li>C#</li>
              <li>Hack</li>
              <li>Scala</li>
              <li>Ruby</li>
            </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="detalle">
              planes de pago
            </div>
            <ul>
              <li>DyCODE Gratis</li>
              <li>DyCODE Premium</li>
              <li>DyCODE Premium ++</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="final">
      DyCODE © 2020 | Todos los derechos reservados
    </footer>
  </div>
  <!--Fin de la página promocional-->