<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light" style="box-shadow: 0px 3px 1px 0px rgba(207,199,207,1);">
        <img style="margin-top: 0.5%; margin-bottom: 0.5%; margin-left: 1.2%; float:left; margin-right: 5%;" src="../../../assets/img/dycode-light.png" alt="">
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"> <a  class="nav-link icono-responsive  nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i  class="ti-menu"></i></a> </li>
              <li class="nav-item"> <a  class="nav-link icono-responsive  sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
              <li class="nav-item hidden-sm-down"></li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../../assets/proyectos/images/users/2.jpg" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="../../../assets/proyectos/images/users/2.jpg" alt="user"></div>
                                    <div class="u-text">
                                        <h4 class="nombre-usuario">Héctor Canales</h4>
                                        <p class="text-muted">hector@gmail.com</p>
                                        <button type="button" class="btn-ver-perfil">Ver mi perfil</button>
                                        
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="enlace-cuenta"><i class="ti-settings icono-cuenta"></i>Configurar mi perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="enlace-cuenta"><i class="fa fa-power-off icono-cuenta"></i>Cerrar sesión</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
